In [1]:
# See covid_virtual_env.sh for environment setup
import boto3, pandas as pd

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_rows', 500)

# Load Data

Set the client for boto3 (amazons toolkit) to read s3

In [2]:
client = boto3.client('s3')

In [3]:
# Johns hopkins cases and deaths over time
obj = client.get_object(Bucket='covid19-lake', Key='enigma-aggregation/csv/us_counties/enigma_covid_19_us_counties.csv')
data = pd.read_csv(obj['Body'])

# Data Exploration

## Fundamental exploration
What values are showing up?

In [4]:
# Quick look at the records
data.head()

,state_fips,state_name,county_fips,county_name,area_name,lat,long,date,cases,deaths
0,1,Alabama,1001.0,Autauga County,NaN,32.532237,-86.646439,2020-03-24,1.0,0.0
1,1,Alabama,1001.0,Autauga County,NaN,32.532237,-86.646439,2020-03-25,4.0,0.0
2,1,Alabama,1001.0,Autauga County,NaN,32.532237,-86.646439,2020-03-26,6.0,0.0
3,1,Alabama,1001.0,Autauga County,NaN,32.532237,-86.646439,2020-03-27,6.0,0.0
4,1,Alabama,1001.0,Autauga County,NaN,32.532237,-86.646439,2020-03-28,6.0,0.0

In [5]:
data.dtypes

state_fips       int64
state_name      object
county_fips    float64
county_name     object
area_name      float64
lat            float64
long           float64
date            object
cases          float64
deaths         float64
dtype: object

In [6]:
# Fix the date data type
data['date'] = data['date'].astype('datetime64')

In [7]:
data.dtypes

state_fips              int64
state_name             object
county_fips           float64
county_name            object
area_name             float64
lat                   float64
long                  float64
date           datetime64[ns]
cases                 float64
deaths                float64
dtype: object

In [8]:
data.head()

,state_fips,state_name,county_fips,county_name,area_name,lat,long,date,cases,deaths
0,1,Alabama,1001.0,Autauga County,NaN,32.532237,-86.646439,2020-03-24,1.0,0.0
1,1,Alabama,1001.0,Autauga County,NaN,32.532237,-86.646439,2020-03-25,4.0,0.0
2,1,Alabama,1001.0,Autauga County,NaN,32.532237,-86.646439,2020-03-26,6.0,0.0
3,1,Alabama,1001.0,Autauga County,NaN,32.532237,-86.646439,2020-03-27,6.0,0.0
4,1,Alabama,1001.0,Autauga County,NaN,32.532237,-86.646439,2020-03-28,6.0,0.0

In [9]:
# Unique iso2 codes
print(data.state_name.unique())

['Alabama' 'Alaska' 'Arizona' 'Arkansas' 'California' 'Colorado'
 'Connecticut' 'Delaware' 'District of Columbia' 'Florida' 'Georgia'
 'Illinois' 'Indiana' 'Iowa' 'Kansas' 'Kentucky' 'Louisiana' 'Maine'
 'Maryland' 'Massachusetts' 'Michigan' 'Minnesota' 'Mississippi'
 'Missouri' 'Montana' 'Nebraska' 'Nevada' 'New Hampshire' 'New Jersey'
 'New Mexico' 'New York' 'North Carolina' 'North Dakota' 'Ohio' 'Oklahoma'
 'Oregon' 'Pennsylvania' 'Rhode Island' 'South Carolina' 'South Dakota'
 'Tennessee' 'Texas' 'Washington' 'West Virginia' 'Utah' 'Vermont'
 'Virginia' 'Wisconsin' 'Wyoming' nan 'Hawaii' 'Idaho']

In [10]:
print(data.date.unique())

['2020-03-24T00:00:00.000000000' '2020-03-25T00:00:00.000000000'
 '2020-03-26T00:00:00.000000000' '2020-03-27T00:00:00.000000000'
 '2020-03-28T00:00:00.000000000' '2020-03-29T00:00:00.000000000'
 '2020-03-30T00:00:00.000000000' '2020-03-31T00:00:00.000000000'
 '2020-04-01T00:00:00.000000000' '2020-04-02T00:00:00.000000000'
 '2020-04-03T00:00:00.000000000' '2020-04-04T00:00:00.000000000'
 '2020-04-05T00:00:00.000000000' '2020-04-06T00:00:00.000000000'
 '2020-04-07T00:00:00.000000000' '2020-04-08T00:00:00.000000000'
 '2020-04-09T00:00:00.000000000' '2020-04-10T00:00:00.000000000'
 '2020-04-11T00:00:00.000000000' '2020-04-12T00:00:00.000000000'
 '2020-04-13T00:00:00.000000000' '2020-04-14T00:00:00.000000000'
 '2020-04-15T00:00:00.000000000' '2020-04-16T00:00:00.000000000'
 '2020-04-17T00:00:00.000000000' '2020-04-18T00:00:00.000000000'
 '2020-04-19T00:00:00.000000000' '2020-04-20T00:00:00.000000000'
 '2020-04-21T00:00:00.000000000' '2020-04-22T00:00:00.000000000'
 '2020-04-23T00:00:00.000000000' '2020-04-24T00:00:00.000000000'
 '2020-04-25T00:00:00.000000000' '2020-04-26T00:00:00.000000000'
 '2020-04-27T00:00:00.000000000' '2020-04-28T00:00:00.000000000'
 '2020-04-29T00:00:00.000000000' '2020-04-30T00:00:00.000000000'
 '2020-05-01T00:00:00.000000000' '2020-05-02T00:00:00.000000000'
 '2020-05-03T00:00:00.000000000' '2020-05-04T00:00:00.000000000'
 '2020-05-05T00:00:00.000000000' '2020-05-06T00:00:00.000000000'
 '2020-05-07T00:00:00.000000000' '2020-05-08T00:00:00.000000000'
 '2020-05-09T00:00:00.000000000' '2020-05-10T00:00:00.000000000'
 '2020-05-11T00:00:00.000000000' '2020-05-12T00:00:00.000000000'
 '2020-05-13T00:00:00.000000000' '2020-05-14T00:00:00.000000000'
 '2020-05-15T00:00:00.000000000' '2020-03-14T00:00:00.000000000'
 '2020-03-15T00:00:00.000000000' '2020-03-16T00:00:00.000000000'
 '2020-03-17T00:00:00.000000000' '2020-03-18T00:00:00.000000000'
 '2020-03-19T00:00:00.000000000' '2020-03-20T00:00:00.000000000'
 '2020-03-21T00:00:00.000000000' '2020-03-22T00:00:00.000000000'
 '2020-03-23T00:00:00.000000000' '2020-03-13T00:00:00.000000000'
 '2020-03-12T00:00:00.000000000' '2020-01-26T00:00:00.000000000'
 '2020-01-27T00:00:00.000000000' '2020-01-28T00:00:00.000000000'
 '2020-01-29T00:00:00.000000000' '2020-01-30T00:00:00.000000000'
 '2020-01-31T00:00:00.000000000' '2020-02-01T00:00:00.000000000'
 '2020-02-02T00:00:00.000000000' '2020-02-03T00:00:00.000000000'
 '2020-02-04T00:00:00.000000000' '2020-02-05T00:00:00.000000000'
 '2020-02-06T00:00:00.000000000' '2020-02-07T00:00:00.000000000'
 '2020-02-08T00:00:00.000000000' '2020-02-09T00:00:00.000000000'
 '2020-02-10T00:00:00.000000000' '2020-02-11T00:00:00.000000000'
 '2020-02-12T00:00:00.000000000' '2020-02-13T00:00:00.000000000'
 '2020-02-14T00:00:00.000000000' '2020-02-15T00:00:00.000000000'
 '2020-02-16T00:00:00.000000000' '2020-02-17T00:00:00.000000000'
 '2020-02-18T00:00:00.000000000' '2020-02-19T00:00:00.000000000'
 '2020-02-20T00:00:00.000000000' '2020-02-21T00:00:00.000000000'
 '2020-02-22T00:00:00.000000000' '2020-02-23T00:00:00.000000000'
 '2020-02-24T00:00:00.000000000' '2020-02-25T00:00:00.000000000'
 '2020-02-26T00:00:00.000000000' '2020-02-27T00:00:00.000000000'
 '2020-02-28T00:00:00.000000000' '2020-02-29T00:00:00.000000000'
 '2020-03-01T00:00:00.000000000' '2020-03-02T00:00:00.000000000'
 '2020-03-03T00:00:00.000000000' '2020-03-04T00:00:00.000000000'
 '2020-03-05T00:00:00.000000000' '2020-03-06T00:00:00.000000000'
 '2020-03-07T00:00:00.000000000' '2020-03-08T00:00:00.000000000'
 '2020-03-09T00:00:00.000000000' '2020-03-10T00:00:00.000000000'
 '2020-03-11T00:00:00.000000000' '2020-01-25T00:00:00.000000000'
 '2020-01-24T00:00:00.000000000' '2020-01-21T00:00:00.000000000'
 '2020-01-22T00:00:00.000000000' '2020-01-23T00:00:00.000000000']

## Some basic group-by's
How many records, cases, and deaths are showing up for those values?

In [11]:
# iso2 to iso3 mappings
data.groupby(['state_name'])['state_name'].count()

state_name
Alabama                 3536
Alaska                   644
Arizona                  915
Arkansas                3694
California              3539
Colorado                3163
Connecticut              492
Delaware                 185
District of Columbia      70
Florida                 3814
Georgia                 8353
Hawaii                   256
Idaho                   1664
Illinois                4641
Indiana                 4905
Iowa                    4271
Kansas                  3501
Kentucky                5254
Louisiana               3524
Maine                    850
Maryland                1412
Massachusetts            933
Michigan                4116
Minnesota               3885
Mississippi             4423
Missouri                4667
Montana                 1490
Nebraska                2571
Nevada                   610
New Hampshire            597
New Jersey              1336
New Mexico              1431
New York                3382
North Carolina          5011
North Dakota            1642
Ohio                    4598
Oklahoma                3384
Oregon                  1777
Pennsylvania            3663
Rhode Island             260
South Carolina          2600
South Dakota            2100
Tennessee               4851
Texas                   9923
Utah                    1278
Vermont                  784
Virginia                6365
Washington              2378
West Virginia           2315
Wisconsin               3452
Wyoming                 1083
Name: state_name, dtype: int64

In [12]:
# quick look at NY
## Missing all the NYC data?
max_date = data.date.max()
data[(data.state_name == 'New York') & (data.date == max_date)].groupby('county_name')[['cases','deaths']].sum()

                       cases  deaths
county_name
Albany County         1538.0   124.0
Allegany County         44.0     0.0
Broome County            3.0    32.0
Cattaraugus County      64.0     1.0
Cayuga County           61.0     1.0
Chautauqua County       45.0     3.0
Chemung County         133.0     5.0
Chenango County        113.0     2.0
Clinton County          85.0     4.0
Columbia County        333.0     0.0
Cortland County         33.0     0.0
Delaware County         67.0     0.0
Dutchess County       3498.0   123.0
Erie County           4782.0   417.0
Essex County             0.0     0.0
Franklin County         17.0     0.0
Fulton County          145.0     0.0
Genesee County         175.0     3.0
Greene County            9.0     2.0
Hamilton County          5.0     0.0
Herkimer County         87.0     1.0
Jefferson County        71.0     0.0
Lewis County            12.0     0.0
Livingston County        6.0     4.0
Madison County         256.0     3.0
Monroe County           92.0   156.0
Montgomery County       72.0     3.0
Nassau County        38864.0  2499.0
Niagara County         743.0    38.0
Oneida County          713.0     0.0
Onondaga County         14.0    82.0
Ontario County         133.0     7.0
Orange County           98.0   335.0
Orleans County         147.0    17.0
Oswego County            0.0     0.0
Otsego County           67.0     5.0
Putnam County         1121.0    58.0
Rensselaer County      428.0     0.0
Rockland County      12637.0   434.0
Saratoga County        421.0     3.0
Schenectady County       3.0    27.0
Schoharie County        47.0     0.0
Schuyler County          8.0     0.0
Seneca County           49.0     0.0
St. Lawrence County    192.0     2.0
Steuben County         231.0    17.0
Suffolk County       37719.0  1757.0
Sullivan County       1189.0    24.0
Tioga County             1.0    16.0
Tompkins County        136.0     2.0
Ulster County         1511.0    39.0
Warren County          228.0    26.0
Washington County      217.0    11.0
Wayne County            91.0     1.0
Westchester County   31942.0  1392.0
Wyoming County          77.0     3.0
Yates County            22.0     4.0

In [13]:
# Global Death Counts
data.groupby('date')[['cases','deaths']].sum()

                cases   deaths
date
2020-01-21        1.0      0.0
2020-01-22        1.0      0.0
2020-01-23        1.0      0.0
2020-01-24        2.0      0.0
2020-01-25        3.0      0.0
2020-01-26        5.0      0.0
2020-01-27        5.0      0.0
2020-01-28        5.0      0.0
2020-01-29        5.0      0.0
2020-01-30        6.0      0.0
2020-01-31        7.0      0.0
2020-02-01        8.0      0.0
2020-02-02       11.0      0.0
2020-02-03       11.0      0.0
2020-02-04       11.0      0.0
2020-02-05       12.0      0.0
2020-02-06       12.0      0.0
2020-02-07       12.0      0.0
2020-02-08       12.0      0.0
2020-02-09       12.0      0.0
2020-02-10       13.0      0.0
2020-02-11       13.0      0.0
2020-02-12       14.0      0.0
2020-02-13       15.0      0.0
2020-02-14       15.0      0.0
2020-02-15       15.0      0.0
2020-02-16       15.0      0.0
2020-02-17       15.0      0.0
2020-02-18       15.0      0.0
2020-02-19       15.0      0.0
2020-02-20       27.0      0.0
2020-02-21       30.0      0.0
2020-02-22       30.0      0.0
2020-02-23       30.0      0.0
2020-02-24       33.0      0.0
2020-02-25       35.0      0.0
2020-02-26       50.0      0.0
2020-02-27       50.0      0.0
2020-02-28       65.0      0.0
2020-02-29       70.0      1.0
2020-03-01       88.0      3.0
2020-03-02      104.0      6.0
2020-03-03      125.0      0.0
2020-03-04      161.0     12.0
2020-03-05      208.0     12.0
2020-03-06      311.0     15.0
2020-03-07      428.0     19.0
2020-03-08      537.0     22.0
2020-03-09      708.0     26.0
2020-03-10      878.0     31.0
2020-03-11     1114.0     37.0
2020-03-12     1518.0     43.0
2020-03-13     1984.0     50.0
2020-03-14     2788.0     60.0
2020-03-15     3103.0     68.0
2020-03-16     4197.0     91.0
2020-03-17     5666.0    117.0
2020-03-18     7321.0    162.0
2020-03-19    11823.0    212.0
2020-03-20    16241.0    275.0
2020-03-21    23060.0    358.0
2020-03-22    16876.0    435.0
2020-03-23    40567.0    544.0
2020-03-24    48470.0    556.0
2020-03-25    40952.0    592.0
2020-03-26    76174.0   1319.0
2020-03-27    63907.0   1146.0
2020-03-28    76986.0   2131.0
2020-03-29   114802.0   2458.0
2020-03-30   141083.0   1921.0
2020-03-31   157344.0   3771.0
2020-04-01   172690.0   4925.0
2020-04-02   140783.0   5494.0
2020-04-03   200403.0   7117.0
2020-04-04   254713.0   8780.0
2020-04-05   274017.0  10344.0
2020-04-06   299757.0  12170.0
2020-04-07   289346.0  12538.0
2020-04-08   343208.0  14853.0
2020-04-09   334271.0  17691.0
2020-04-10   299529.0  17884.0
2020-04-11   349838.0  21153.0
2020-04-12   345070.0  21987.0
2020-04-13   375569.0  11912.0
2020-04-14   457702.0  15806.0
2020-04-15   488836.0  27371.0
2020-04-16   495846.0  18768.0
2020-04-17   427308.0  30570.0
2020-04-18   420270.0  33342.0
2020-04-19   444559.0  36712.0
2020-04-20   462334.0  24535.0
2020-04-21   645763.0  39592.0
2020-04-22   677802.0  43195.0
2020-04-23   548069.0  44007.0
2020-04-24   512143.0  44708.0
2020-04-25   678518.0  45621.0
2020-04-26   606658.0  44571.0
2020-04-27   729827.0  47034.0
2020-04-28   762897.0  31463.0
2020-04-29   629877.0  49798.0
2020-04-30   869181.0  37565.0
2020-05-01   865310.0  54196.0
2020-05-02   681135.0  42953.0
2020-05-03   917352.0  60402.0
2020-05-04   767006.0  42429.0
2020-05-05   949799.0  58747.0
2020-05-06   764341.0  62064.0
2020-05-07   993287.0  59672.0
2020-05-08   960152.0  47407.0
2020-05-09   969062.0  69622.0
2020-05-10  1068595.0  68062.0
2020-05-11   959091.0  71839.0
2020-05-12   814828.0  67967.0
2020-05-13   999058.0  74547.0
2020-05-14  1183894.0  56182.0
2020-05-15  1146331.0  74294.0

In [14]:
# New York Deaths Over Time
data[data['state_name']=='New York'].groupby('date')[['cases','deaths']].sum()

               cases  deaths
date
2020-03-04       9.0     0.0
2020-03-05      18.0     0.0
2020-03-06      39.0     0.0
2020-03-07      77.0     0.0
2020-03-08      92.0     0.0
2020-03-09     122.0     0.0
2020-03-10      36.0     0.0
2020-03-11      46.0     0.0
2020-03-12     230.0     0.0
2020-03-13     266.0     0.0
2020-03-14     341.0     1.0
2020-03-15     402.0     1.0
2020-03-16     366.0     3.0
2020-03-17     729.0     7.0
2020-03-18     993.0     7.0
2020-03-19    1684.0     8.0
2020-03-20    1594.0    14.0
2020-03-21    4125.0    20.0
2020-03-22    3223.0    23.0
2020-03-23    8450.0    28.0
2020-03-24    8619.0    34.0
2020-03-25    9808.0    31.0
2020-03-26   15687.0    67.0
2020-03-27   18157.0    75.0
2020-03-28   21308.0   100.0
2020-03-29   17596.0    71.0
2020-03-30   28400.0   148.0
2020-03-31   30538.0   186.0
2020-04-01   18302.0   278.0
2020-04-02   28124.0   356.0
2020-04-03    9601.0   430.0
2020-04-04   38280.0  1005.0
2020-04-05   49909.0  1011.0
2020-04-06   53877.0  1262.0
2020-04-07   25372.0   640.0
2020-04-08   65838.0   987.0
2020-04-09   30874.0  1907.0
2020-04-10   58093.0  1299.0
2020-04-11   81166.0  1895.0
2020-04-12   60096.0  1608.0
2020-04-13   85717.0   633.0
2020-04-14   44940.0  3134.0
2020-04-15   73117.0  2562.0
2020-04-16   95116.0  2860.0
2020-04-17   70293.0  2860.0
2020-04-18   72150.0  2860.0
2020-04-19   49043.0  4151.0
2020-04-20   52668.0  4328.0
2020-04-21   78259.0  3627.0
2020-04-22  107246.0  4378.0
2020-04-23  111218.0  4572.0
2020-04-24   69718.0  3975.0
2020-04-25   85612.0  2603.0
2020-04-26   95003.0  3868.0
2020-04-27   67753.0  2206.0
2020-04-28   91767.0  2571.0
2020-04-29   88061.0  2282.0
2020-04-30  123186.0  5350.0
2020-05-01   97094.0  3771.0
2020-05-02  135104.0  5934.0
2020-05-03   85829.0  3149.0
2020-05-04   52188.0  4623.0
2020-05-05  111671.0  3911.0
2020-05-06   59919.0  6394.0
2020-05-07  100325.0  2291.0
2020-05-08  113057.0  6228.0
2020-05-09   53804.0  6634.0
2020-05-10  108491.0  7132.0
2020-05-11  148005.0  7300.0
2020-05-12   95292.0  4439.0
2020-05-13   65536.0  7193.0
2020-05-14  149588.0  6048.0
2020-05-15  140795.0  7683.0