In [1]:
# See covid_virtual_env.sh for environment setup
import boto3, pandas as pd

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_rows', 500)

# Load Data

Set the client for boto3 (amazons toolkit) to read s3

In [2]:
client = boto3.client('s3')

In [3]:
# Johns hopkins cases and deaths over time
obj = client.get_object(Bucket='covid19-lake', Key='enigma-jhu-timeseries/csv/jhu_csse_covid_19_timeseries_merged.csv')
data = pd.read_csv(obj['Body'])

# Data Exploration

## Fundamental exploration
What values are showing up?

In [4]:
# Quick look at the records
data.head()

,uid,fips,iso2,iso3,code3,admin2,latitude,longitude,province_state,country_region,date,confirmed,deaths,recovered
0,16.0,60.0,AS,ASM,16.0,NaN,-14.2710,-170.1320,American Samoa,US,2020-01-22,0,0,NaN
1,316.0,66.0,GU,GUM,316.0,NaN,13.4443,144.7937,Guam,US,2020-01-22,0,0,NaN
2,580.0,69.0,MP,MNP,580.0,NaN,15.0979,145.6739,Northern Mariana Islands,US,2020-01-22,0,0,NaN
3,630.0,72.0,PR,PRI,630.0,NaN,18.2208,-66.5901,Puerto Rico,US,2020-01-22,0,0,NaN
4,850.0,78.0,VI,VIR,850.0,NaN,18.3358,-64.8963,Virgin Islands,US,2020-01-22,0,0,NaN

In [5]:
data.dtypes

uid               float64
fips              float64
iso2               object
iso3               object
code3             float64
admin2             object
latitude          float64
longitude         float64
province_state     object
country_region     object
date               object
confirmed           int64
deaths              int64
recovered         float64
dtype: object

In [6]:
# Fix the date data type
data['date'] = data['date'].astype('datetime64')

In [7]:
data.dtypes

uid                      float64
fips                     float64
iso2                      object
iso3                      object
code3                    float64
admin2                    object
latitude                 float64
longitude                float64
province_state            object
country_region            object
date              datetime64[ns]
confirmed                  int64
deaths                     int64
recovered                float64
dtype: object

In [8]:
data.head()

,uid,fips,iso2,iso3,code3,admin2,latitude,longitude,province_state,country_region,date,confirmed,deaths,recovered
0,16.0,60.0,AS,ASM,16.0,NaN,-14.2710,-170.1320,American Samoa,US,2020-01-22,0,0,NaN
1,316.0,66.0,GU,GUM,316.0,NaN,13.4443,144.7937,Guam,US,2020-01-22,0,0,NaN
2,580.0,69.0,MP,MNP,580.0,NaN,15.0979,145.6739,Northern Mariana Islands,US,2020-01-22,0,0,NaN
3,630.0,72.0,PR,PRI,630.0,NaN,18.2208,-66.5901,Puerto Rico,US,2020-01-22,0,0,NaN
4,850.0,78.0,VI,VIR,850.0,NaN,18.3358,-64.8963,Virgin Islands,US,2020-01-22,0,0,NaN

In [9]:
# Unique iso2 codes
print(data.iso2.unique())

['AS' 'GU' 'MP' 'PR' 'VI' 'US' nan]

In [10]:
# Unique iso3 codes
print(data.province_state.unique())

['American Samoa' 'Guam' 'Northern Mariana Islands' 'Puerto Rico'
 'Virgin Islands' 'Alabama' 'Alaska' 'Arizona' 'Arkansas' 'California'
 'Colorado' 'Connecticut' 'Delaware' 'District of Columbia' 'Florida'
 'Georgia' 'Hawaii' 'Idaho' 'Illinois' 'Indiana' 'Iowa' 'Kansas'
 'Kentucky' 'Louisiana' 'Maine' 'Maryland' 'Massachusetts' 'Michigan'
 'Minnesota' 'Mississippi' 'Missouri' 'Montana' 'Nebraska' 'Nevada'
 'New Hampshire' 'New Jersey' 'New Mexico' 'New York' 'North Carolina'
 'North Dakota' 'Ohio' 'Oklahoma' 'Oregon' 'Pennsylvania' 'Rhode Island'
 'South Carolina' 'South Dakota' 'Tennessee' 'Texas' 'Utah' 'Vermont'
 'Virginia' 'Washington' 'West Virginia' 'Wisconsin' 'Wyoming'
 'Diamond Princess' 'Grand Princess' nan 'Australian Capital Territory'
 'New South Wales' 'Northern Territory' 'Queensland' 'South Australia'
 'Tasmania' 'Victoria' 'Western Australia' 'Anhui' 'Beijing' 'Chongqing'
 'Fujian' 'Gansu' 'Guangdong' 'Guangxi' 'Guizhou' 'Hainan' 'Hebei'
 'Heilongjiang' 'Henan' 'Hong Kong' 'Hubei' 'Hunan' 'Inner Mongolia'
 'Jiangsu' 'Jiangxi' 'Jilin' 'Liaoning' 'Macau' 'Ningxia' 'Qinghai'
 'Shaanxi' 'Shandong' 'Shanghai' 'Shanxi' 'Sichuan' 'Tianjin' 'Tibet'
 'Xinjiang' 'Yunnan' 'Zhejiang' 'Faroe Islands' 'Greenland'
 'French Guiana' 'French Polynesia' 'Guadeloupe' 'Mayotte' 'New Caledonia'
 'Reunion' 'Saint Barthelemy' 'St Martin' 'Martinique' 'Aruba' 'Curacao'
 'Sint Maarten' 'Bermuda' 'Cayman Islands' 'Channel Islands' 'Gibraltar'
 'Isle of Man' 'Montserrat' 'Anguilla' 'British Virgin Islands'
 'Turks and Caicos Islands' 'Bonaire, Sint Eustatius and Saba'
 'Falkland Islands (Malvinas)' 'Saint Pierre and Miquelon']

In [11]:
# Unique country_region
print(data.country_region.unique())

['US' 'Afghanistan' 'Albania' 'Algeria' 'Andorra' 'Angola'
 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Australia' 'Austria'
 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus'
 'Belgium' 'Benin' 'Bhutan' 'Bolivia' 'Bosnia and Herzegovina' 'Brazil'
 'Brunei' 'Bulgaria' 'Burkina Faso' 'Cabo Verde' 'Cambodia' 'Cameroon'
 'Central African Republic' 'Chad' 'Chile' 'China' 'Colombia'
 'Congo (Brazzaville)' 'Congo (Kinshasa)' 'Costa Rica' "Cote d'Ivoire"
 'Croatia' 'Diamond Princess' 'Cuba' 'Cyprus' 'Czechia' 'Denmark'
 'Djibouti' 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador'
 'Equatorial Guinea' 'Eritrea' 'Estonia' 'Eswatini' 'Ethiopia' 'Fiji'
 'Finland' 'France' 'Gabon' 'Gambia' 'Georgia' 'Germany' 'Ghana' 'Greece'
 'Guatemala' 'Guinea' 'Guyana' 'Haiti' 'Holy See' 'Honduras' 'Hungary'
 'Iceland' 'India' 'Indonesia' 'Iran' 'Iraq' 'Ireland' 'Israel' 'Italy'
 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya' 'Korea, South' 'Kuwait'
 'Kyrgyzstan' 'Latvia' 'Lebanon' 'Liberia' 'Liechtenstein' 'Lithuania'
 'Luxembourg' 'Madagascar' 'Malaysia' 'Maldives' 'Malta' 'Mauritania'
 'Mauritius' 'Mexico' 'Moldova' 'Monaco' 'Mongolia' 'Montenegro' 'Morocco'
 'Namibia' 'Nepal' 'Netherlands' 'New Zealand' 'Nicaragua' 'Niger'
 'Nigeria' 'North Macedonia' 'Norway' 'Oman' 'Pakistan' 'Panama'
 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines' 'Poland' 'Portugal'
 'Qatar' 'Romania' 'Russia' 'Rwanda' 'Saint Lucia'
 'Saint Vincent and the Grenadines' 'San Marino' 'Saudi Arabia' 'Senegal'
 'Serbia' 'Seychelles' 'Singapore' 'Slovakia' 'Slovenia' 'Somalia'
 'South Africa' 'Spain' 'Sri Lanka' 'Sudan' 'Suriname' 'Sweden'
 'Switzerland' 'Taiwan*' 'Tanzania' 'Thailand' 'Togo'
 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'Uganda' 'Ukraine'
 'United Arab Emirates' 'United Kingdom' 'Uruguay' 'Uzbekistan'
 'Venezuela' 'Vietnam' 'Zambia' 'Zimbabwe' 'Dominica' 'Grenada' 'Belize'
 'Laos' 'Libya' 'West Bank and Gaza' 'Guinea-Bissau' 'Mali'
 'Saint Kitts and Nevis' 'Kosovo' 'Burma' 'MS Zaandam' 'Botswana'
 'Burundi' 'Sierra Leone' 'Malawi' 'South Sudan' 'Western Sahara'
 'Sao Tome and Principe' 'Yemen' 'Comoros' 'Tajikistan']

In [12]:
print(data.date.unique())

['2020-01-22T00:00:00.000000000' '2020-01-23T00:00:00.000000000'
 '2020-01-24T00:00:00.000000000' '2020-01-25T00:00:00.000000000'
 '2020-01-26T00:00:00.000000000' '2020-01-27T00:00:00.000000000'
 '2020-01-28T00:00:00.000000000' '2020-01-29T00:00:00.000000000'
 '2020-01-30T00:00:00.000000000' '2020-01-31T00:00:00.000000000'
 '2020-02-10T00:00:00.000000000' '2020-02-11T00:00:00.000000000'
 '2020-02-12T00:00:00.000000000' '2020-02-13T00:00:00.000000000'
 '2020-02-14T00:00:00.000000000' '2020-02-15T00:00:00.000000000'
 '2020-02-16T00:00:00.000000000' '2020-02-17T00:00:00.000000000'
 '2020-02-18T00:00:00.000000000' '2020-02-19T00:00:00.000000000'
 '2020-02-01T00:00:00.000000000' '2020-02-20T00:00:00.000000000'
 '2020-02-21T00:00:00.000000000' '2020-02-22T00:00:00.000000000'
 '2020-02-23T00:00:00.000000000' '2020-02-24T00:00:00.000000000'
 '2020-02-25T00:00:00.000000000' '2020-02-26T00:00:00.000000000'
 '2020-02-27T00:00:00.000000000' '2020-02-28T00:00:00.000000000'
 '2020-02-29T00:00:00.000000000' '2020-02-02T00:00:00.000000000'
 '2020-02-03T00:00:00.000000000' '2020-02-04T00:00:00.000000000'
 '2020-02-05T00:00:00.000000000' '2020-02-06T00:00:00.000000000'
 '2020-02-07T00:00:00.000000000' '2020-02-08T00:00:00.000000000'
 '2020-02-09T00:00:00.000000000' '2020-03-10T00:00:00.000000000'
 '2020-03-11T00:00:00.000000000' '2020-03-12T00:00:00.000000000'
 '2020-03-13T00:00:00.000000000' '2020-03-14T00:00:00.000000000'
 '2020-03-15T00:00:00.000000000' '2020-03-16T00:00:00.000000000'
 '2020-03-17T00:00:00.000000000' '2020-03-18T00:00:00.000000000'
 '2020-03-19T00:00:00.000000000' '2020-03-01T00:00:00.000000000'
 '2020-03-20T00:00:00.000000000' '2020-03-21T00:00:00.000000000'
 '2020-03-22T00:00:00.000000000' '2020-03-23T00:00:00.000000000'
 '2020-03-24T00:00:00.000000000' '2020-03-25T00:00:00.000000000'
 '2020-03-26T00:00:00.000000000' '2020-03-27T00:00:00.000000000'
 '2020-03-28T00:00:00.000000000' '2020-03-29T00:00:00.000000000'
 '2020-03-02T00:00:00.000000000' '2020-03-30T00:00:00.000000000'
 '2020-03-31T00:00:00.000000000' '2020-03-03T00:00:00.000000000'
 '2020-03-04T00:00:00.000000000' '2020-03-05T00:00:00.000000000'
 '2020-03-06T00:00:00.000000000' '2020-03-07T00:00:00.000000000'
 '2020-03-08T00:00:00.000000000' '2020-03-09T00:00:00.000000000'
 '2020-04-10T00:00:00.000000000' '2020-04-11T00:00:00.000000000'
 '2020-04-12T00:00:00.000000000' '2020-04-13T00:00:00.000000000'
 '2020-04-14T00:00:00.000000000' '2020-04-15T00:00:00.000000000'
 '2020-04-16T00:00:00.000000000' '2020-04-17T00:00:00.000000000'
 '2020-04-18T00:00:00.000000000' '2020-04-19T00:00:00.000000000'
 '2020-04-01T00:00:00.000000000' '2020-04-20T00:00:00.000000000'
 '2020-04-21T00:00:00.000000000' '2020-04-22T00:00:00.000000000'
 '2020-04-23T00:00:00.000000000' '2020-04-24T00:00:00.000000000'
 '2020-04-25T00:00:00.000000000' '2020-04-26T00:00:00.000000000'
 '2020-04-27T00:00:00.000000000' '2020-04-28T00:00:00.000000000'
 '2020-04-29T00:00:00.000000000' '2020-04-02T00:00:00.000000000'
 '2020-04-30T00:00:00.000000000' '2020-04-03T00:00:00.000000000'
 '2020-04-04T00:00:00.000000000' '2020-04-05T00:00:00.000000000'
 '2020-04-06T00:00:00.000000000' '2020-04-07T00:00:00.000000000'
 '2020-04-08T00:00:00.000000000' '2020-04-09T00:00:00.000000000'
 '2020-05-10T00:00:00.000000000' '2020-05-11T00:00:00.000000000'
 '2020-05-12T00:00:00.000000000' '2020-05-01T00:00:00.000000000'
 '2020-05-02T00:00:00.000000000' '2020-05-03T00:00:00.000000000'
 '2020-05-04T00:00:00.000000000' '2020-05-05T00:00:00.000000000'
 '2020-05-06T00:00:00.000000000' '2020-05-07T00:00:00.000000000'
 '2020-05-08T00:00:00.000000000' '2020-05-09T00:00:00.000000000']

## Some basic group-by's
How many records, cases, and deaths are showing up for those values?

In [13]:
# iso2 to iso3 mappings
data.groupby(['iso2','iso3'])['uid'].count()

iso2  iso3
AS    ASM        112
GU    GUM        112
MP    MNP        112
PR    PRI        112
US    USA     364672
VI    VIR        112
Name: uid, dtype: int64

In [14]:
# quick look at NY
## can still see that NYC counties are not broken out
max_date = data.date.max()
data[(data.province_state == 'New York') & (data.date == max_date)].groupby('admin2')[['confirmed','deaths']].sum()

              confirmed  deaths
admin2
Albany             1479      61
Allegany             42       0
Bronx                 0       0
Broome              379      23
Cattaraugus          61       0
Cayuga               60       1
Chautauqua           42       4
Chemung             131       1
Chenango            112       0
Clinton              77       4
Columbia            314      24
Cortland             30       0
Delaware             65       4
Dutchess           3399     103
Erie               4530     357
Essex                32       0
Franklin             17       0
Fulton              135       0
Genesee             174       3
Greene              206      14
Hamilton              5       0
Herkimer             81       3
Jefferson            68       0
Kings                 0       0
Lewis                11       0
Livingston          102       7
Madison             251       7
Monroe             1890     156
Montgomery           67       1
Nassau            38434    1991
New York         186123   20237
Niagara             671      44
Oneida              676      23
Onondaga           1308      79
Ontario             107       9
Orange             9632     395
Orleans             133      20
Oswego               76       3
Otsego               67       4
Out of NY             0       0
Putnam             1098       7
Queens                0       0
Rensselaer          416      23
Richmond              0       0
Rockland          12504     580
Saratoga            407      11
Schenectady         581      28
Schoharie            46       0
Schuyler              8       0
Seneca               49       0
St. Lawrence        191       0
Steuben             229      39
Suffolk           37062    1654
Sullivan           1119      25
Tioga               107      20
Tompkins            132       0
Ulster             1465      60
Unassigned            0       0
Warren              221       0
Washington          210      13
Wayne                83       2
Westchester       31472    1238
Wyoming              77       5
Yates                21       1

In [15]:
# Global Death Counts
data.groupby('date')[['confirmed','deaths']].sum()

            confirmed  deaths
date
2020-01-22        556      17
2020-01-23        655      18
2020-01-24        943      26
2020-01-25       1436      42
2020-01-26       2122      56
2020-01-27       2931      82
2020-01-28       5581     131
2020-01-29       6169     133
2020-01-30       8237     171
2020-01-31       9930     213
2020-02-01      12042     259
2020-02-02      16791     362
2020-02-03      19888     426
2020-02-04      23899     492
2020-02-05      27641     564
2020-02-06      30800     634
2020-02-07      34395     719
2020-02-08      37124     806
2020-02-09      40154     906
2020-02-10      42766    1013
2020-02-11      44807    1113
2020-02-12      45226    1118
2020-02-13      60374    1371
2020-02-14      66891    1523
2020-02-15      69036    1666
2020-02-16      71230    1770
2020-02-17      73263    1868
2020-02-18      75141    2007
2020-02-19      75644    2122
2020-02-20      76202    2247
2020-02-21      76825    2251
2020-02-22      78578    2458
2020-02-23      78964    2469
2020-02-24      79566    2629
2020-02-25      80410    2708
2020-02-26      81392    2770
2020-02-27      82749    2814
2020-02-28      84114    2872
2020-02-29      86015    2942
2020-03-01      88375    2997
2020-03-02      90332    3091
2020-03-03      92883    3167
2020-03-04      95191    3265
2020-03-05      98021    3359
2020-03-06     101969    3473
2020-03-07     106129    3575
2020-03-08     110207    3822
2020-03-09     114027    4008
2020-03-10     119249    4290
2020-03-11     126872    4645
2020-03-12     129792    4762
2020-03-13     147177    5457
2020-03-14     158777    5885
2020-03-15     170136    6541
2020-03-16     185516    7244
2020-03-17     202752    8083
2020-03-18     223091    9004
2020-03-19     255925   10204
2020-03-20     290723   11773
2020-03-21     329028   13559
2020-03-22     369180   15400
2020-03-23     419854   17515
2020-03-24     469047   19996
2020-03-25     530267   23071
2020-03-26     609503   26476
2020-03-27     690421   30499
2020-03-28     776728   34623
2020-03-29     854901   38776
2020-03-30     936914   43673
2020-03-31    1037234   49666
2020-04-01    1136311   56300
2020-04-02    1245788   63962
2020-04-03    1358796   71204
2020-04-04    1471704   78595
2020-04-05    1570759   85061
2020-04-06    1671160   92320
2020-04-07    1775657  102476
2020-04-08    1889708  111215
2020-04-09    2007644  120641
2020-04-10    2132385  129887
2020-04-11    2239065  137832
2020-04-12    2366111  145223
2020-04-13    2460049  152648
2020-04-14    2556138  161798
2020-04-15    2663495  172383
2020-04-16    2788493  181512
2020-04-17    2906436  192857
2020-04-18    3010755  201564
2020-04-19    3119433  207149
2020-04-20    3213651  214026
2020-04-21    3316563  223409
2020-04-22    3417989  232243
2020-04-23    3534163  241145
2020-04-24    3656039  249085
2020-04-25    3772787  257368
2020-04-26    3872642  262091
2020-04-27    3962160  267819
2020-04-28    4058518  276170
2020-04-29    4159188  285474
2020-04-30    4271734  293043
2020-05-01    4392529  300022
2020-05-02    4502050  306495
2020-05-03    4604117  311354
2020-05-04    4701325  316453
2020-05-05    4803678  324110
2020-05-06    4920556  332941
2020-05-07    5036390  340685
2020-05-08    5154166  347378
2020-05-09    5264483  353280
2020-05-10    5360706  357241
2020-05-11    5453945  361894
2020-05-12    5558727  369015

In [16]:
# US Death Counts
data[data['iso2']=='US'].groupby('date')[['confirmed','deaths']].sum()

            confirmed  deaths
date
2020-01-22          1       0
2020-01-23          1       0
2020-01-24          2       0
2020-01-25          2       0
2020-01-26          5       0
2020-01-27          5       0
2020-01-28          5       0
2020-01-29          5       0
2020-01-30          5       0
2020-01-31          7       0
2020-02-01          8       0
2020-02-02          8       0
2020-02-03         11       0
2020-02-04         11       0
2020-02-05         11       0
2020-02-06         11       0
2020-02-07         11       0
2020-02-08         11       0
2020-02-09         11       0
2020-02-10         11       0
2020-02-11         12       0
2020-02-12         12       0
2020-02-13         13       0
2020-02-14         13       0
2020-02-15         13       0
2020-02-16         13       0
2020-02-17         13       0
2020-02-18         13       0
2020-02-19         13       0
2020-02-20         13       0
2020-02-21         15       0
2020-02-22         15       0
2020-02-23         15       0
2020-02-24         15       0
2020-02-25         15       0
2020-02-26         15       0
2020-02-27         16       0
2020-02-28         16       0
2020-02-29         24       1
2020-03-01         30       1
2020-03-02         53       6
2020-03-03         73       7
2020-03-04        104      11
2020-03-05        172      12
2020-03-06        217      14
2020-03-07        336      17
2020-03-08        450      21
2020-03-09        514      22
2020-03-10        708      28
2020-03-11       1105      32
2020-03-12       1557      41
2020-03-13       2147      50
2020-03-14       2857      56
2020-03-15       2918      70
2020-03-16       4298      98
2020-03-17       6086     132
2020-03-18       8861     189
2020-03-19      14074     267
2020-03-20      19372     363
2020-03-21      25683     452
2020-03-22      33578     594
2020-03-23      43596     778
2020-03-24      53648    1005
2020-03-25      65673    1313
2020-03-26      83710    1723
2020-03-27     101508    2261
2020-03-28     121288    2882
2020-03-29     140703    3514
2020-03-30     161569    4309
2020-03-31     187832    5521
2020-04-01     212843    6721
2020-04-02     243188    8270
2020-04-03     274922    9553
2020-04-04     308057   10811
2020-04-05     336165   12219
2020-04-06     365640   13867
2020-04-07     396376   16161
2020-04-08     427857   18239
2020-04-09     461913   20224
2020-04-10     495619   22287
2020-04-11     525413   24292
2020-04-12     554221   26034
2020-04-13     579521   27817
2020-04-14     606552   30209
2020-04-15     635177   32675
2020-04-16     666350   34763
2020-04-17     698438   37344
2020-04-18     726638   39683
2020-04-19     752960   40873
2020-04-20     778227   42586
2020-04-21     805522   45012
2020-04-22     833694   47339
2020-04-23     867547   49645
2020-04-24     903873   51406
2020-04-25     936637   53662
2020-04-26     964202   54786
2020-04-27     986596   56124
2020-04-28    1010970   58258
2020-04-29    1038264   60870
2020-04-30    1067660   62893
2020-05-01    1101661   64838
2020-05-02    1130557   66263
2020-05-03    1156007   67574
2020-05-04    1178307   68814
2020-05-05    1202202   70954
2020-05-06    1227133   73345
2020-05-07    1254762   75549
2020-05-08    1281539   77062
2020-05-09    1307142   78676
2020-05-10    1326826   79404
2020-05-11    1345386   80557
2020-05-12    1367035   82249

In [17]:
# New York Deaths Over Time
data[data['province_state']=='New York'].groupby('date')[['confirmed','deaths']].sum()

            confirmed  deaths
date
2020-01-22          0       0
2020-01-23          0       0
2020-01-24          0       0
2020-01-25          0       0
2020-01-26          0       0
2020-01-27          0       0
2020-01-28          0       0
2020-01-29          0       0
2020-01-30          0       0
2020-01-31          0       0
2020-02-01          0       0
2020-02-02          0       0
2020-02-03          0       0
2020-02-04          0       0
2020-02-05          0       0
2020-02-06          0       0
2020-02-07          0       0
2020-02-08          0       0
2020-02-09          0       0
2020-02-10          0       0
2020-02-11          0       0
2020-02-12          0       0
2020-02-13          0       0
2020-02-14          0       0
2020-02-15          0       0
2020-02-16          0       0
2020-02-17          0       0
2020-02-18          0       0
2020-02-19          0       0
2020-02-20          0       0
2020-02-21          0       0
2020-02-22          0       0
2020-02-23          0       0
2020-02-24          0       0
2020-02-25          0       0
2020-02-26          0       0
2020-02-27          0       0
2020-02-28          0       0
2020-02-29          0       0
2020-03-01          0       0
2020-03-02          1       0
2020-03-03          2       0
2020-03-04         11       0
2020-03-05         23       0
2020-03-06         31       0
2020-03-07         76       0
2020-03-08        106       0
2020-03-09        142       0
2020-03-10        150       0
2020-03-11        220       0
2020-03-12        327       1
2020-03-13        421       2
2020-03-14        613       6
2020-03-15        615      12
2020-03-16        967      24
2020-03-17       1578      38
2020-03-18       3038      63
2020-03-19       5704      96
2020-03-20       8403     151
2020-03-21      11727     195
2020-03-22      15800     286
2020-03-23      20884     387
2020-03-24      25681     512
2020-03-25      30841     659
2020-03-26      37877     902
2020-03-27      44876    1211
2020-03-28      52410    1588
2020-03-29      59648    2016
2020-03-30      66663    2556
2020-03-31      75833    3207
2020-04-01      83948    3917
2020-04-02      92506    4730
2020-04-03     102987    5418
2020-04-04     113833    5991
2020-04-05     123160    6785
2020-04-06     131815    7809
2020-04-07     139875    8886
2020-04-08     151061    9834
2020-04-09     161779   10778
2020-04-10     172348   11605
2020-04-11     181026   12498
2020-04-12     189033   13442
2020-04-13     195749   14390
2020-04-14     203020   15261
2020-04-15     214454   16013
2020-04-16     223691   16729
2020-04-17     230597   17755
2020-04-18     237474   18760
2020-04-19     243382   18582
2020-04-20     248416   19176
2020-04-21     253519   19746
2020-04-22     258222   20203
2020-04-23     263460   20743
2020-04-24     271590   20955
2020-04-25     282143   22009
2020-04-26     288045   22269
2020-04-27     291996   22668
2020-04-28     295106   22912
2020-04-29     299691   23477
2020-04-30     304372   23587
2020-05-01     308314   24039
2020-05-02     312977   24198
2020-05-03     316415   24708
2020-05-04     318953   24999
2020-05-05     321192   25124
2020-05-06     323978   25623
2020-05-07     327469   26144
2020-05-08     330407   26243
2020-05-09     333122   26612
2020-05-10     335395   26641
2020-05-11     337055   26988
2020-05-12     338485   27284