In [1]:
# See covid_virtual_env.sh for environment setup
import boto3, pandas as pd

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_rows', 500)

# Load Data

Set the client for boto3 (amazons toolkit) to read s3

In [2]:
client = boto3.client('s3')

In [4]:
# New York Times Data
obj = client.get_object(Bucket='covid19-lake', Key='rearc-covid-19-nyt-data-in-usa/csv/us-counties/us-counties.csv')
data = pd.read_csv(obj['Body'])

# Data Exploration

## Fundamental exploration
What values are showing up?

In [5]:
# Quick look at the records
data.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1       0
1  2020-01-22  Snohomish  Washington  53061.0      1       0
2  2020-01-23  Snohomish  Washington  53061.0      1       0
3  2020-01-24       Cook    Illinois  17031.0      1       0
4  2020-01-24  Snohomish  Washington  53061.0      1       0

In [6]:
data.dtypes

date       object
county     object
state      object
fips      float64
cases       int64
deaths      int64
dtype: object

In [7]:
# Fix the date data type
data['date'] = data['date'].astype('datetime64')

In [8]:
data.dtypes

date      datetime64[ns]
county            object
state             object
fips             float64
cases              int64
deaths             int64
dtype: object

In [9]:
data.head()

        date     county       state     fips  cases  deaths
0 2020-01-21  Snohomish  Washington  53061.0      1       0
1 2020-01-22  Snohomish  Washington  53061.0      1       0
2 2020-01-23  Snohomish  Washington  53061.0      1       0
3 2020-01-24       Cook    Illinois  17031.0      1       0
4 2020-01-24  Snohomish  Washington  53061.0      1       0

In [10]:
# Unique iso2 codes
print(data.state.unique())

['Washington' 'Illinois' 'California' 'Arizona' 'Massachusetts'
 'Wisconsin' 'Texas' 'Nebraska' 'Utah' 'Oregon' 'Florida' 'New York'
 'Rhode Island' 'Georgia' 'New Hampshire' 'North Carolina' 'New Jersey'
 'Colorado' 'Maryland' 'Nevada' 'Tennessee' 'Hawaii' 'Indiana' 'Kentucky'
 'Minnesota' 'Oklahoma' 'Pennsylvania' 'South Carolina'
 'District of Columbia' 'Kansas' 'Missouri' 'Vermont' 'Virginia'
 'Connecticut' 'Iowa' 'Louisiana' 'Ohio' 'Michigan' 'South Dakota'
 'Arkansas' 'Delaware' 'Mississippi' 'New Mexico' 'North Dakota' 'Wyoming'
 'Alaska' 'Maine' 'Alabama' 'Idaho' 'Montana' 'Puerto Rico'
 'Virgin Islands' 'Guam' 'West Virginia' 'Northern Mariana Islands']

In [11]:
# Looks to have an extra day compared to JH
print(data.date.unique())

['2020-01-21T00:00:00.000000000' '2020-01-22T00:00:00.000000000'
 '2020-01-23T00:00:00.000000000' '2020-01-24T00:00:00.000000000'
 '2020-01-25T00:00:00.000000000' '2020-01-26T00:00:00.000000000'
 '2020-01-27T00:00:00.000000000' '2020-01-28T00:00:00.000000000'
 '2020-01-29T00:00:00.000000000' '2020-01-30T00:00:00.000000000'
 '2020-01-31T00:00:00.000000000' '2020-02-01T00:00:00.000000000'
 '2020-02-02T00:00:00.000000000' '2020-02-03T00:00:00.000000000'
 '2020-02-04T00:00:00.000000000' '2020-02-05T00:00:00.000000000'
 '2020-02-06T00:00:00.000000000' '2020-02-07T00:00:00.000000000'
 '2020-02-08T00:00:00.000000000' '2020-02-09T00:00:00.000000000'
 '2020-02-10T00:00:00.000000000' '2020-02-11T00:00:00.000000000'
 '2020-02-12T00:00:00.000000000' '2020-02-13T00:00:00.000000000'
 '2020-02-14T00:00:00.000000000' '2020-02-15T00:00:00.000000000'
 '2020-02-16T00:00:00.000000000' '2020-02-17T00:00:00.000000000'
 '2020-02-18T00:00:00.000000000' '2020-02-19T00:00:00.000000000'
 '2020-02-20T00:00:00.000000000' '2020-02-21T00:00:00.000000000'
 '2020-02-22T00:00:00.000000000' '2020-02-23T00:00:00.000000000'
 '2020-02-24T00:00:00.000000000' '2020-02-25T00:00:00.000000000'
 '2020-02-26T00:00:00.000000000' '2020-02-27T00:00:00.000000000'
 '2020-02-28T00:00:00.000000000' '2020-02-29T00:00:00.000000000'
 '2020-03-01T00:00:00.000000000' '2020-03-02T00:00:00.000000000'
 '2020-03-03T00:00:00.000000000' '2020-03-04T00:00:00.000000000'
 '2020-03-05T00:00:00.000000000' '2020-03-06T00:00:00.000000000'
 '2020-03-07T00:00:00.000000000' '2020-03-08T00:00:00.000000000'
 '2020-03-09T00:00:00.000000000' '2020-03-10T00:00:00.000000000'
 '2020-03-11T00:00:00.000000000' '2020-03-12T00:00:00.000000000'
 '2020-03-13T00:00:00.000000000' '2020-03-14T00:00:00.000000000'
 '2020-03-15T00:00:00.000000000' '2020-03-16T00:00:00.000000000'
 '2020-03-17T00:00:00.000000000' '2020-03-18T00:00:00.000000000'
 '2020-03-19T00:00:00.000000000' '2020-03-20T00:00:00.000000000'
 '2020-03-21T00:00:00.000000000' '2020-03-22T00:00:00.000000000'
 '2020-03-23T00:00:00.000000000' '2020-03-24T00:00:00.000000000'
 '2020-03-25T00:00:00.000000000' '2020-03-26T00:00:00.000000000'
 '2020-03-27T00:00:00.000000000' '2020-03-28T00:00:00.000000000'
 '2020-03-29T00:00:00.000000000' '2020-03-30T00:00:00.000000000'
 '2020-03-31T00:00:00.000000000' '2020-04-01T00:00:00.000000000'
 '2020-04-02T00:00:00.000000000' '2020-04-03T00:00:00.000000000'
 '2020-04-04T00:00:00.000000000' '2020-04-05T00:00:00.000000000'
 '2020-04-06T00:00:00.000000000' '2020-04-07T00:00:00.000000000'
 '2020-04-08T00:00:00.000000000' '2020-04-09T00:00:00.000000000'
 '2020-04-10T00:00:00.000000000' '2020-04-11T00:00:00.000000000'
 '2020-04-12T00:00:00.000000000' '2020-04-13T00:00:00.000000000'
 '2020-04-14T00:00:00.000000000' '2020-04-15T00:00:00.000000000'
 '2020-04-16T00:00:00.000000000' '2020-04-17T00:00:00.000000000'
 '2020-04-18T00:00:00.000000000' '2020-04-19T00:00:00.000000000'
 '2020-04-20T00:00:00.000000000' '2020-04-21T00:00:00.000000000'
 '2020-04-22T00:00:00.000000000' '2020-04-23T00:00:00.000000000'
 '2020-04-24T00:00:00.000000000' '2020-04-25T00:00:00.000000000'
 '2020-04-26T00:00:00.000000000' '2020-04-27T00:00:00.000000000'
 '2020-04-28T00:00:00.000000000' '2020-04-29T00:00:00.000000000'
 '2020-04-30T00:00:00.000000000' '2020-05-01T00:00:00.000000000'
 '2020-05-02T00:00:00.000000000' '2020-05-03T00:00:00.000000000'
 '2020-05-04T00:00:00.000000000' '2020-05-05T00:00:00.000000000'
 '2020-05-06T00:00:00.000000000' '2020-05-07T00:00:00.000000000'
 '2020-05-08T00:00:00.000000000' '2020-05-09T00:00:00.000000000'
 '2020-05-10T00:00:00.000000000' '2020-05-11T00:00:00.000000000'
 '2020-05-12T00:00:00.000000000' '2020-05-13T00:00:00.000000000'
 '2020-05-14T00:00:00.000000000' '2020-05-15T00:00:00.000000000']

## Some basic group-by's
How many records, cases, and deaths are showing up for those values?

In [12]:
# iso2 to iso3 mappings
data.groupby(['state'])['state'].count()

state
Alabama                     3536
Alaska                       646
Arizona                      925
Arkansas                    3751
California                  3556
Colorado                    3218
Connecticut                  539
Delaware                     220
District of Columbia          70
Florida                     3866
Georgia                     8409
Guam                          62
Hawaii                       281
Idaho                       1667
Illinois                    4690
Indiana                     4907
Iowa                        4294
Kansas                      3508
Kentucky                    5296
Louisiana                   3583
Maine                        904
Maryland                    1443
Massachusetts                994
Michigan                    4167
Minnesota                   3935
Mississippi                 4427
Missouri                    4760
Montana                     1490
Nebraska                    2591
Nevada                       660
New Hampshire                635
New Jersey                  1401
New Mexico                  1439
New York                    3465
North Carolina              5011
North Dakota                1646
Northern Mariana Islands      49
Ohio                        4599
Oklahoma                    3384
Oregon                      1779
Pennsylvania                3666
Puerto Rico                   64
Rhode Island                 336
South Carolina              2600
South Dakota                2103
Tennessee                   4881
Texas                       9923
Utah                        1326
Vermont                      838
Virgin Islands                63
Virginia                    6400
Washington                  2392
West Virginia               2315
Wisconsin                   3452
Wyoming                     1083
Name: state, dtype: int64

In [13]:
# quick look at NY
## NYC counties are also not broken out, cant see queens, richmond, kings, new york seperately
max_date = data.date.max()
data[(data.state == 'New York') & (data.date == max_date)].groupby('county')[['cases','deaths']].sum()

                cases  deaths
county
Albany           1538     124
Allegany           44       0
Broome            390      32
Cattaraugus        64       1
Cayuga             61       1
Chautauqua         45       3
Chemung           133       5
Chenango          113       2
Clinton            85       4
Columbia          333      30
Cortland           33       0
Delaware           67       0
Dutchess         3498     123
Erie             4782     417
Essex              40       0
Franklin           17       0
Fulton            145      10
Genesee           175       3
Greene            209       2
Hamilton            5       0
Herkimer           87       1
Jefferson          71       0
Lewis              12       0
Livingston        106       4
Madison           256       3
Monroe           2092     156
Montgomery         72       3
Nassau          38864    2499
New York City  195472   19972
Niagara           743      38
Oneida            713      30
Onondaga         1440      82
Ontario           133       7
Orange           9840     335
Orleans           147      17
Oswego             80       0
Otsego             67       5
Putnam           1121      58
Rensselaer        428      30
Rockland        12637     434
Saratoga          421       3
Schenectady       603      27
Schoharie          47       0
Schuyler            8       0
Seneca             49       0
St. Lawrence      192       2
Steuben           231      17
Suffolk         37719    1757
Sullivan         1189      24
Tioga             110      16
Tompkins          136       2
Ulster           1511      39
Warren            228      26
Washington        217      11
Wayne              91       1
Westchester     31942    1392
Wyoming            77       3
Yates              22       4

In [14]:
# US Death Counts
data.groupby('date')[['cases','deaths']].sum()

              cases  deaths
date
2020-01-21        1       0
2020-01-22        1       0
2020-01-23        1       0
2020-01-24        2       0
2020-01-25        3       0
2020-01-26        5       0
2020-01-27        5       0
2020-01-28        5       0
2020-01-29        5       0
2020-01-30        6       0
2020-01-31        7       0
2020-02-01        8       0
2020-02-02       11       0
2020-02-03       11       0
2020-02-04       11       0
2020-02-05       12       0
2020-02-06       12       0
2020-02-07       12       0
2020-02-08       12       0
2020-02-09       12       0
2020-02-10       13       0
2020-02-11       13       0
2020-02-12       14       0
2020-02-13       15       0
2020-02-14       15       0
2020-02-15       15       0
2020-02-16       15       0
2020-02-17       25       0
2020-02-18       25       0
2020-02-19       25       0
2020-02-20       27       0
2020-02-21       30       0
2020-02-22       30       0
2020-02-23       30       0
2020-02-24       43       0
2020-02-25       45       0
2020-02-26       60       0
2020-02-27       60       0
2020-02-28       65       0
2020-02-29       70       1
2020-03-01       88       3
2020-03-02      104       6
2020-03-03      125      10
2020-03-04      161      12
2020-03-05      228      12
2020-03-06      311      15
2020-03-07      428      19
2020-03-08      547      22
2020-03-09      748      26
2020-03-10     1018      31
2020-03-11     1263      37
2020-03-12     1668      43
2020-03-13     2224      50
2020-03-14     2898      60
2020-03-15     3600      68
2020-03-16     4507      91
2020-03-17     5906     117
2020-03-18     8350     162
2020-03-19    12393     212
2020-03-20    18010     275
2020-03-21    24526     358
2020-03-22    33070     455
2020-03-23    43499     574
2020-03-24    54171     784
2020-03-25    68780    1049
2020-03-26    85639    1349
2020-03-27   103005    1761
2020-03-28   123944    2291
2020-03-29   142386    2628
2020-03-30   163876    3191
2020-03-31   188325    4010
2020-04-01   215463    5025
2020-04-02   244592    6092
2020-04-03   276962    7917
2020-04-04   311801    9470
2020-04-05   337591   10832
2020-04-06   371110   13080
2020-04-07   399350   14582
2020-04-08   431133   16653
2020-04-09   465846   18779
2020-04-10   499303   21032
2020-04-11   531028   23109
2020-04-12   558153   24787
2020-04-13   583940   26549
2020-04-14   610546   29247
2020-04-15   640380   31995
2020-04-16   672244   34352
2020-04-17   703661   36618
2020-04-18   732036   38571
2020-04-19   757390   40089
2020-04-20   784658   41919
2020-04-21   810146   44587
2020-04-22   837999   46897
2020-04-23   871888   49067
2020-04-24   909473   51158
2020-04-25   943755   53161
2020-04-26   970353   54407
2020-04-27   993710   55997
2020-04-28  1018551   58375
2020-04-29  1045061   60889
2020-04-30  1075486   63100
2020-05-01  1109434   64860
2020-05-02  1138961   66445
2020-05-03  1164994   67773
2020-05-04  1186913   68833
2020-05-05  1210627   71067
2020-05-06  1235132   74011
2020-05-07  1263875   75734
2020-05-08  1291530   77307
2020-05-09  1316440   78762
2020-05-10  1336599   79693
2020-05-11  1354357   80682
2020-05-12  1376651   82337
2020-05-13  1397836   84105
2020-05-14  1424852   85843
2020-05-15  1450971   87435

In [15]:
# New York Deaths Over Time
data[data['state']=='New York'].groupby('date')[['cases','deaths']].sum()

             cases  deaths
date
2020-03-01       1       0
2020-03-02       1       0
2020-03-03       2       0
2020-03-04      11       0
2020-03-05      22       0
2020-03-06      44       0
2020-03-07      89       0
2020-03-08     106       0
2020-03-09     142       0
2020-03-10     173       0
2020-03-11     217       0
2020-03-12     326       0
2020-03-13     421       0
2020-03-14     610       2
2020-03-15     732       6
2020-03-16     950      10
2020-03-17    1375      18
2020-03-18    2387      32
2020-03-19    4161      39
2020-03-20    7113      68
2020-03-21   10371      95
2020-03-22   15188     142
2020-03-23   20899     183
2020-03-24   25704     264
2020-03-25   33117     381
2020-03-26   39058     502
2020-03-27   44746     645
2020-03-28   53517     935
2020-03-29   59783    1112
2020-03-30   67504    1350
2020-03-31   76211    1661
2020-04-01   84364    2126
2020-04-02   93360    2548
2020-04-03  103726    3716
2020-04-04  115963    4535
2020-04-05  124085    5335
2020-04-06  135480    6877
2020-04-07  141703    7185
2020-04-08  151271    8138
2020-04-09  162036    9166
2020-04-10  172830   10162
2020-04-11  182990   11159
2020-04-12  191425   12116
2020-04-13  197973   12998
2020-04-14  205375   14001
2020-04-15  217130   14937
2020-04-16  225761   15669
2020-04-17  233293   16473
2020-04-18  240542   17141
2020-04-19  246741   17793
2020-04-20  251608   18412
2020-04-21  255932   19040
2020-04-22  261591   19647
2020-04-23  267932   20212
2020-04-24  276218   20759
2020-04-25  286901   21326
2020-04-26  292914   21804
2020-04-27  296991   22267
2020-04-28  300276   22777
2020-04-29  304994   23287
2020-04-30  309696   23616
2020-05-01  313575   23841
2020-05-02  318134   24035
2020-05-03  321833   24576
2020-05-04  324357   24788
2020-05-05  326659   25028
2020-05-06  329405   26192
2020-05-07  332931   26206
2020-05-08  335804   26358
2020-05-09  338519   26584
2020-05-10  340657   26798
2020-05-11  342267   27003
2020-05-12  343705   27282
2020-05-13  345828   27448
2020-05-14  348192   27617
2020-05-15  350951   27755