In [19]:
# See covid_virtual_env.sh for environment setup
import boto3, pandas as pd

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_rows', 500)

# Load Data

Set the client for boto3 (amazons toolkit) to read s3

In [20]:
client = boto3.client('s3')

In [22]:
# New York Times Data
obj = client.get_object(Bucket='covid19-lake', Key='static-datasets/csv/CountyPopulation/County_Population.csv')
data_county = pd.read_csv(obj['Body'])

obj = client.get_object(Bucket='covid19-lake', Key='static-datasets/csv/state-abv/states_abv.csv')
data_state = pd.read_csv(obj['Body'])

# Data Exploration

## Fundamental exploration
What values are showing up?

In [23]:
# Quick look at the records
data_county.head()

               Id   Id2   County    State  Population Estimate 2018
0  0500000US01001  1001  Autauga  Alabama                     55601
1  0500000US01003  1003  Baldwin  Alabama                    218022
2  0500000US01005  1005  Barbour  Alabama                     24881
3  0500000US01007  1007     Bibb  Alabama                     22400
4  0500000US01009  1009   Blount  Alabama                     57840

In [24]:
data_state.head()

        State Abbreviation
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA